* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: sans-serif;
    font-size: 12px;
    padding: 20px;
}

#dynatable-query-search-datatable, #dynatable-per-page-datatable {
    border: 1px solid #aaa;
    padding: 3px;
    border-radius: 3px;
}

#datatable {
    border: 1px solid #aaa;
    border-collapse: collapse;
    width: 100%
}

#datatable th, #datatable td {
    border: 1px solid #aaa;
    padding: 5px;
}

.icon-bin {
    color: black;
}

.button {
    background: linear-gradient(#eee,#ccc);
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 5px;
    color: #555;
    text-decoration: none;
    margin: 10px 0;   
}

.dynatable-sort-header {
    text-decoration: none;
}